.header {
  position: fixed;            
  top: 0;                     
  left: 0;
  width: 100%;              
  z-index: 1000;            
  background: var(--background);
  padding: 20px 0;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
}


.header__container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  padding: 0 40px;
}

.header__logo {
  justify-self: start;
  text-decoration: none;
}

.header__nav {
  justify-self: center;
}

.header__buttons {
  justify-self: end;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__logo img {
  height: 70px;
}

.logoText {
  margin-left: -19px;
  font-weight: 900;
  font-size: 50px;
  color: var(--dark-main);
}

.header__nav {
  display: flex;
  justify-content: center;
  gap: 90px;
}

.header__nav a {
  text-decoration: none;
  color: var(--dark-secondary);
  font-weight: 500;
  font-size: 36px;
  transition: color 0.2s ease;
}

.header__nav a:hover {
  color: var(--accent-primary);
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.btnLogin {
  background: transparent;
  font-weight: 700;
  border: none;
  font-size: 38px;
  color: var(--dark-main);
  cursor: pointer;
  padding: 6px 10px;
  transition: color 0.2s ease, background 0.2s ease;
}

.btnLogin:hover {
  color: var(--accent-primary);
  transform: translateY(-1px);
}

.btnRegistr {
  background: var(--dark-main);
  color: var(--background);
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  font-weight: 550;
  font-size: 38px;
  cursor: pointer;
   transition: background 0.25s ease, transform 0.1s ease;
}

.btnRegistr:hover {
  background: var(--accent-primary);
  transform: translateY(-1px);
}

.btnLogin, .btnRegistr {
    text-decoration: none; 
    display: inline-block; 
}
