.sidebar {
  width: 500px;
  background: var( --dark-main);
  color: var(--background);
  min-height: 100vh;
  padding: 18px 14px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 102px;
  top: 0;
}

.sidebar__brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 900;
  letter-spacing: .2px;
  font-size: 50px;
  margin: 10px;
}

.sidebar__nav {
  display: grid;
  gap: 6px;
  margin-top: 8px;
}

.item {
  display: flex;
  height: 90px;  
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: 12px;
  color: var(--background);
  text-decoration: none;
  font-weight: 600;
  transition: background .15s ease, color .15s ease;
}

.item:hover { 
    background: rgba(255,255,255,.06); 
    color: #fff; 
}

.item.active {
  background: var(--accent-primary); 
  color: #fff;        

}

.sidebar__version {
  margin-top: 6px;
  opacity: .5;
  font-size: 12px;
}